{% extends 'tapasapp/base.html'%}
{% load static %}

    
{% block sidemenu %}
<ul>
    <li><a href="{% url 'view_menu' %}">Back to main</a></li>
</ul>
{% endblock %}

{% block content %}
<div class = "d-flex align-items-center justify-content-center" style = "height: 400px;"> 
    <div class = "row justify-content-center w-100"> 
        <div class = "col-10">
            <div class = "card" > 
                <div class = "card-body">
                    <h3>Type in Dish Details:</h3>
                    <form> 
                        <label>Name:</label>
                        <input type = "text" class = "form-control" name = "dishname"> 
                        <br> 
                        <div class = "row"> 
                            <div class = "col-6"> 
                                <label>Cook Time:</label>
                                <input type = "text" class = "form-control" name="cookingtime">
                            </div>
                            <div class = "col-6"> 
                                <label>Prep Time:</label>
                                <input type = "text" class = "form-control" name = "preptime">
                            </div>
                        </div>  
                        <br> 
                        <button type = "submit" class = "btn btn-secondary">Add to dishes</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %} 

